{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'enquetes/detalhes.css' %}">

    <title>Detalhes</title>
</head>
<body>
    <div>
        <header>
            <h1>{{ pergunta.pergunta_texto }}</h1>
            <p>{{ pergunta.data_pub }}</p>
        </header>
        <main>
            {% if msg_erro %}
            <strong>{{ msg_erro}}</strong>
            {% endif %}
            <u>Escolha a sua alternativa:</u>
            <form action="{% url 'enquetes:votacao' pergunta.id %}" method="post">
                {% csrf_token %}
                <ul>
                    {% for escolha in pergunta.escolha_set.all %}
                    <li>
                        <input type="radio" name="escolha" id='escolha{{ forloop.counter }}' value="{{ escolha.id }}"></input>
                        <label for="escolha{{ forloop.counter }}">{{ escolha.escolha_texto }}</label><br>
                    </li>
                    {% endfor %}
                </ul>
                <input type="submit" value="Votar">
                <a href="/enquetes" class="voltar">Home</a>
            </form>

        </main>

    </div>
</body>
</html>