<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Enquetes</title>
    <style>
        div{

        }
        h2{
            text-align: center;
        }
    </style>
</head>
<body>
    <div>
        <h2>Aplicação de enquetes</h2>
        {% if ultima_questao_lista %}
        <ul>
            {% for pergunta in ultima_questao_lista %}
            <li><a href="/enquetes/{{ pergunta.id }}"></a></li>
            {% endfor %}
        </ul>
        {% else %}
        <p>Nenhuma questão disponível.</p>
        {% endif %}
    </div>
</body>
</html>