{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'enquetes/resultados.css' %}">
    <title>Resultados</title>
</head>
<body>
    <header>
        <h1>{{ pergunta.pergunta_texto }} #{{ pergunta.id }}</h1>
        <p>Data de publicação: {{ pergunta.data_pub }}</p>
    </header>
    <main>
    <ul>
        {% for escolha in pergunta.escolha_set.all %}
        <li>
            {{ escolha.escolha_texto }}
        </li>
        <li>
            {{ escolha.votos }} voto{{ escolha.votos|pluralize }}
        </li>
        {% endfor %}
        <li>
            <a href="{% url 'enquetes:index' %}" class="voltar">Home</a>
            <a href="{% url 'enquetes:detalhes' pergunta.id %}">Voltar para a votação</a>
        </li>
    </ul>

    </main>
</body>
</html>