{% extends 'layouts/index.html' %}
{% load static %}
{% block title %}Bazar Virtual - Produtos{% endblock %}

{% block content %}
    <main class="container-fluid px-4 mb-5">
        <h2 class="mb-4 fs-1">Meus Anúncios</h2>
        <section class="d-flex flex-row flex-wrap align-items-start gap-2">
    
    {% if anuncios %}
        {% for reservado in reservados %}
            <div class="card" style="width: 18rem;">
            <!--  <img src="{{ produto.imagem.url }}" class="card-img-top" alt="...">-->
                <div class="card-body">
                <h5 class="card-title">{{reservado.produto.nome | title}}</h5>
                <p class="card-text">Reservado por: {{reservado.usuario | title}} </p>
                <p class="card-text">Evento: {{reservado.produto.evento | title}} </p>
                <p class="card-text">Descrição: {{reservado.produto.descricao}}</p>
                <p class="card-text">R$ {{reservado.produto.preco}}</p>
                <a href="#" class="btn btn-danger" style="pointer-events: none;">Reservado</a>
                </div>
            </div>   
        {% endfor %}

        {% for produto in produtos %}
            <div class="card" style="width: 18rem;">
                <!--  <img src="{{ produto.imagem.url }}" class="card-img-top" alt="...">-->
                <div class="card-body">
                <h5 class="card-title">{{produto.nome | title}}</h5>
                <p class="card-text">Evento: {{produto.evento | title}} </p>
                <p class="card-text">Descrição: {{produto.descricao}}</p>
                <p class="card-text">R$ {{produto.preco}}</p>
                {% if produto.ehReservado == False %}
                    <a href="{% url 'plataform:deleteAnuncio' produto.id %}" class="btn btn-danger">Deletar</a>
                {% else %}
                    <a href="{% url 'plataform:deleteAnuncio' produto.id %}" class="btn btn-danger" style="pointer-events: none;">Reservado</a>
                {% endif %}
                </div>
            </div>   
        {% endfor %}
    {% else %}
        <h2>Você não possui anúncios cadastrados</h2>
    {% endif %}
        </section>
    </main> 
{% endblock %}